# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# .env
.env

# Log files
*.log

# Visual Studio Code
.vscode/
*.code-workspace

# Temporary files
*~
~$*
*.tmp
.DS_Store

# Data Files
*.csv
*.xls*
