{% extends "base.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}
{% block content %}
<main class="container my-5">
    <section class="text-center my-5">
        <h2>Welcome to ETC Exceptions</h2>
        <p>Your go-to solution for managing exceptions effectively.</p>
        <div class="mt-4">
            <a href="#submit-exception" class="btn btn-primary mx-2">Submit Exception</a>
            <a href="#add-delegate" class="btn btn-primary mx-2">Add Delegate</a>
            <a href="#approvals" class="btn btn-primary mx-2">Approvals</a>
        </div>
    </section>
</main>
{% endblock %}